<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="sSource" value="Threshold Mail Listerner" />
    <add key="sLog" value="Application" />
    <add key="sEvent" value="TML Logs --&gt;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="xemail" value="mondaykadiri@gmail.com"/>
  <add key="phonenumber" value="+2348029998152"/>
  </appSettings>
  <connectionStrings>
    <add name="Escaltethreshold.Properties.Settings.ConnectionString"
      connectionString="DATA SOURCE=myDbConnect;DBA PRIVILEGE=SYSDBA;PASSWORD=isng123;PERSIST SECURITY INFO=True;USER ID=C##ISNG"
      providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>